/** \file 
Contains customized settings for arduino2j.

This file can be used to customize a few constants used by arduino2j.
You need to set the compiler flag A2J_LL_OPTS for this to take effect.
@see arduino2j.c */
#ifdef A2J_LL_OPTS

// USB options
#ifdef A2J_USB
	//#define A2J_USB_IN_EPSIZE	64
	//#define A2J_USB_OUT_EPSIZE	64
	//#define A2J_USB_MANUFACTURERSTRING	L"template manufacturer"
	//#define A2J_USB_MANUFACTURERSTRING_LEN	21
	//#define A2J_USB_PRODUCTSTRING	L"template product"
	//#define A2J_USB_PRODUCTSTRING_LEN	16
	//#define A2J_USB_SERIAL	L"123456"
	//#define A2J_USB_SERIAL_LEN 6
#endif // A2J_USB
#endif // A2J_LL_OPTS